@charset "UTF-8";
/*para computadoras y  pantallas grandes*/
@media screen and (min-width: 760px) {
   
   ul li {
      display: inline-flex;
   }
   menu a {
      padding: 10px;
   }

}
/*para tablets y telefonos(configurar la vh y vw)*/
@media screen and (max-width: 760px) {
   main {
      width: 90vw;   
     }
   
     
   menu {
      display: none;
      text-align: center;
     }
   
   a {
      display: block;
      padding: 10px; 
   }
   
   ul li {
      list-style: none;
      
   }

   i#burguer {
      background-color: rgba(48, 48, 48);
      color: white;
      display: block;
      text-align: center;
      padding: 10px;
      cursor: pointer;
     }

   i#burguer:hover {
      color: black;
      background-color: white;
   }
}
   
