@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier,monospace;
}
menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'esse artigo foi impresso atraves do site www.cursoemvideo.com';
}